* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 4rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
header {
  position: fixed;
  background: white;
  width: 100%;
  min-width: 150px;
  height: 8.1rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
figure {
  height: 8rem;
}
figure img {
  height: 100%;
}

/* menu */
.navbar {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  top: 8rem;
  right: -100vw;
  width: 100vw;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border-top: 1px solid rgba(109, 109, 109, 0.5);
}
.navbar.is-active {
  right: 0;
}
.navbar ul {
  list-style: none;
  width: 100%;
}
.navbar li {
  margin: 1rem 0;
  text-align: center;
}
.navbar a {
  text-decoration: none;
  font-size: 2em;
  margin-bottom: 0.5em;
  color: black;
}
/* .burger_button {
  font-size: 3rem;
  cursor: pointer;
} */
.hamburger {
  width: 40px;
  min-height: 30px;
  max-width: 50px;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: rgb(37, 37, 37);
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  content: "";
  transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.hamburger-inner:before {
  top: 10px;
}

.hamburger-inner:after {
  top: 20px;
}

.hamburger.open .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger.open .hamburger-inner:after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

.hamburger.open .hamburger-inner:before {
  -webkit-transform: translate3d(0, -20px, 0) rotate(90deg);
  transform: translate3d(0, -20px, 0) rotate(90deg);
  opacity: 0;
}

.present,
.get_action,
.pillars,
.values,
.blog-experiencie {
  width: 100%;
  min-width: 150px;
}

/* Presentación */

.present {
  margin-top: 8.1rem;
  height: 60rem;
  text-align: center;
}
.present h1 {
  width: 70%;
  text-align: center;
  margin: auto;
  padding: 12rem 0;
}
.present p {
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
}
.present-btn {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
}
.present button,
button {
  padding: 1rem 0rem;
  border-radius: 2rem;
  width: 11rem;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #2691a8;
}

/* Toma Acción */

.get_action {
  /*background-color: #99b0b585;*/
  text-align: center;
}
.get_action h2 {
  font-size: 2rem;
  padding: 2rem 0;
}

.card-container {
  overflow: hidden;
}

/*Styles for the content-car*/
.content-card {
  white-space: nowrap;
  transition: all 1s cubic-bezier(0.68, 0, 0.265, 1);
  will-change: transform;
}

/*Styles for the body-card*/
.slider-card {
  width: 400px;
  background-color: #99b0b585;
  height: 250px;
  margin: 20px;
  /*-webkit-box-shadow: 1px -1px 32px -2px rgba(181,181,181,1);
  -moz-box-shadow: 1px -1px 32px -2px rgba(181,181,181,1);
  box-shadow: 1px -1px 32px -2px rgba(181,181,181,1);*/
  border-radius: 10px;
  display: inline-block;
  cursor: move;
}

/*Styles for the text/link of the cards*/
.card-details {
  margin: 30px;
}

.card-details a:link {
  text-decoration: none;
  color: #303f9f;
}
.pay {
  text-align: center;
}

/* Style for the buttons of the slider */
.card-details ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.card-details ul li {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  background-color: #03a9f4;
  height: 8px;
  cursor: pointer;
  width: 8px;
}
.card-details ul li.active {
  background-color: transparent;
  border: 2px solid #283593;
  box-sizing: border-box;
  height: 10px;
  width: 10px;
}

.card-details img {
  width: 100px;
  height: 100px;
  float: right;
}
.one {
  margin-top: -30px;
}
.two {
  margin-top: -20px;
}

/* Media queries*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .slider-card {
    width: 315px;
    margin-left: 15px;
  }
}

/* Nuestros Pilares */

.pillars {
  text-align: center;
}
.pillars h2 {
  font-size: 2rem;
  padding: 2rem 0;
}
.pillars-list {
  text-align: left;
  padding: 0 3.5rem;
  list-style: none;
  font-size: 1.8rem;
}
.pillars-list li {
  display: flex;
  align-items: center;
}
.pillars-list img {
  width: 50px;
  margin: 0 1rem;
}
.pillars button {
  margin: 2rem;
}

/* Nuestros Valores */

.values {
  text-align: center;
}
.values h2 {
  font-size: 2rem;
  padding: 2rem 0;
}
.values-list {
  text-align: left;
  padding: 0 7rem;
  font-size: 1.8rem;
}
.values button {
  margin: 2rem;
}

/* Blog y Experiencia */
.blog-experiencie {
  text-align: center;
}
.blog-experiencie h2 {
  font-size: 2rem;
  padding: 2rem 0;
}
.blog-content {
  display: flex;
  justify-content: center;
}
.blog-content__letter {
  font-size: 9rem;
}
.blog-description {
  font-size: 2.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.blog-experiencie button {
  margin: 2rem;
}
article {
  display: flex;
  padding: 1rem 5rem;
}
article img {
  width: 7rem;
  border-radius: 50%;
}
.experience {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.experience-commet {
  font-size: 1.5rem;
  padding: 1rem 0;
}
.experience-locate {
  display: flex;
  justify-content: space-between;
}
.fas {
  color: rgb(255, 166, 0);
  font-size: 1.5rem;
}
@media (min-width: 600px) {
  .c1 {
    width: 25%;
  }
  .get_action {
    width: 75%;
  }
  .c3 {
    width: 50%;
  }
  .c4 {
    width: 50%;
  }
  .c5 {
    width: 100%;
  }
}
@media (min-width: 800px) {
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  .c1 {
    width: 30%;
  }
  .get_action {
    width: 40%;
  }
  .c3 {
    width: 30%;
  }
  .c4 {
    width: 50%;
  }
  .c5 {
    width: 50%;
  }
}

/* Start Footer */
.footer {
  width: 100%;
  min-width: 150px;
  height: 150px;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 0 2rem;
  padding-top: 3rem;
}

.footer__network {
  display: flex;
  height: 90px;
}

.footer__network h4 {
  font-size: 2rem;
  padding: 1rem 0;
}

.footer__network ul {
  list-style-type: none;
  font-size: 1.3rem;
}

.footer__network li {
  padding-bottom: 0.4rem;
}

.footer__network a {
  text-decoration: none;
  color: black;
}

.footer__network-following {
  flex: 1;
}

.footer__network-contact_us {
  flex: 1;
}

.footer__logo {
  display: block;
  position: relative;
  text-align: center;
}

.footer__links_Pages {
  text-align: center;
}

.footer__links_Pages {
  padding: 1rem 0;
}

.footer__links_Pages a {
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  display: inline-block;
  padding: 0.2rem 0.8rem;
}

.footer__copywrite {
  padding-top: 1em;
  font-size: 1.3rem;
}

.footer__version {
  /*border-top: 1px solid black;*/
  padding: 1rem 0;
  display: flex;
  font-size: 1.4rem;
}

.footer__version-number {
  flex: 1;
}

.footer__version-by {
  flex: 1;
  text-align: right;
}
/* End Footer */
